SERVER_CMS_DB_URL=jdbc:mysql://localhost:3306/cosmic_server_cms?createDatabaseIfNotExist=true
SERVER_CMS_DB_USER=root
SERVER_CMS_DB_PASSWORD=

COSMIC_DB_URL=jdbc:mysql://localhost:3306/cosmic?createDatabaseIfNotExist=false
COSMIC_DB_USER=root
COSMIC_DB_PASSWORD=

SERVER_CMS_API_PORT=8082
SERVER_CMS_ALLOWED_ORIGIN=http://localhost:3001
COSMIC_BRIDGE_URL=http://127.0.0.1:8787
COSMIC_BRIDGE_TOKEN=
NEXT_PUBLIC_SERVER_CMS_API_URL=http://localhost:8082
COSMIC_PROJECT_PATH=C:\Users\user\IdeaProjects\Cosmic
