CMS_DB_URL=jdbc:mysql://localhost:3306/cosmic_cms
CMS_DB_USER=root
CMS_DB_PASSWORD=
GAME_DB_URL=jdbc:mysql://localhost:3306/cosmic
GAME_DB_USER=root
GAME_DB_PASSWORD=
COSMIC_BRIDGE_URL=http://127.0.0.1:8787
COSMIC_BRIDGE_TOKEN=replace-with-a-long-random-secret
COSMIC_WZ_PATH=../../wz
COSMIC_PROJECT_PATH=../..
CMS_ALLOWED_ORIGIN=http://localhost:3000
NEXT_PUBLIC_CMS_API_URL=http://localhost:8081
